.about-container {
    position: absolute;
    width: 96vw;
    height: auto;
    margin: 1rem;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(20px);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    /* display: flex;
    flex-direction: row; */
    transition: all .3s ease;
    z-index: 1000;
    top: 4em;
    left: 0;
}

.columns-container {
    display: flex;
    flex-direction: row;
}

.hidden {
    pointer-events: none;
    opacity: 0;
}

.show {
    opacity: 1;
}

.about-container .left-column {
    background-color: #fff;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
    padding: 1rem;
    border-radius: 10px;
    margin-right: 50px;
    width: 50%;
}

.about-container .right-column {
    width: 50%;
    box-sizing: border-box; 
}

.about-container .right-column .contact-container {
    background-color: #fff;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
    padding: 1rem;
    border-radius: 10px;
    /* width: 50%; */
}

.about-container .left-column .intro-text-container {
    margin-bottom: 10vh;
}

.about-container .left-column h3 {
    font-family: 'HelveticaNow-Regular';
    font-weight: lighter;
    font-size: 2em;
    margin-top: 0;
}

.about-container .left-column h2 {
    font-family: 'LiberationSans-Bold';
    letter-spacing: -0.6px;
    font-size: 1.5em;
    margin-top: 0;
    text-transform: uppercase;
}

.about-container .left-column .select-clients-container {
    padding-bottom: 10vh;
    padding-left: 5vh;
}

.about-container .left-column ul {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    list-style: none;
    padding-left: 0;
    font-family: 'HelveticaNow-Regular';
    width: auto;
    column-gap: 20px;
}

.about-container .left-column ul > li {
    margin-bottom: 0.5rem;
}



.about-container .close-button {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    margin: 0.5rem; /* Adjust margin for spacing */
   
}

.video-reel-container{
    margin-top: 2rem;
}


/* Media Query for Mobile Devices */
@media (max-width: 768px) {
    .about-container {
        display: flex;
        flex-direction: column;
    
    }

    .columns-container {
        display: flex;
        flex-direction: row;
    }

    .about-container .left-column,
    .about-container .right-column {
        width: 100%;
        margin-bottom: 1rem;
    }

    .about-container .right-column {
        width: 100%;
        margin-top: 1rem; 
    }
}

