body, html {
    height: auto;
    padding: 0;
    margin: 0;
    background-color: #232323;
    overflow-x: hidden;
}

body::-webkit-scrollbar,
html::-webkit-scrollbar {
    opacity: 0;
}

#main-page {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

@font-face {
    font-family: 'HelveticaNow-Regular';
    src: url('./Assets/Fonts/HelveticaNowDisplay-Regular.ttf');
}

@font-face {
    font-family: 'LiberationSans-Bold';
    src: url('./Assets/Fonts/LiberationSans-Bold.ttf');
}

@font-face {
    font-family: 'LiberationSans-Regular';
    src: url('./Assets/Fonts/LiberationSans-Regular.ttf');
}

