body, html {
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: #232323;
}

@font-face {
    font-family: 'HelveticaNow-Regular';
    src: url('./Assets/Fonts/HelveticaNowDisplay-Regular.ttf');
}

@font-face {
    font-family: 'LiberationSans-Bold';
    src: url('./Assets/Fonts/LiberationSans-Bold.ttf');
}

@font-face {
    font-family: 'LiberationSans-Regular';
    src: url('./Assets/Fonts/LiberationSans-Regular.ttf');
}